.wrapper {
    max-width: 968px;
    margin: 0 auto;
}

.table {
    width: 100%;
    margin: 20px auto 0;
}

.shop {
    display: flex;
    flex-wrap: wrap;
}

.shop .product {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.shop .product .product_name {
    margin-top: 8px;
}

.shop .product .product_img {
    width: 100%;
}

.activeTrue {
    background-color: #ffc107 !important;
}

.btn {
    width: 100%;
}